.button {
    background-color: #09d3ac;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 16px 24px;
    margin-left: auto;
    font-weight: 800;
    cursor: pointer;
}

.simple {
    background-color: transparent;
    color:#09d3ac;
    font-weight: 400;
    padding: 0;
}