.checkBox {
    position: relative;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding-left: 35px;
    color: #c9c9c9;
    font-weight: 700;
    text-align: left;
}

.checkBox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}

.checkBox:hover input[type="checkbox"] ~ .checkMark {
    background-color: #ccc;
}

.checkBox input:checked[type="checkbox"] ~ .checkMark {
    /* background-color: #2196F3; */
    background-color: #09d3ac;
}

.checkMark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkBox input[type="checkbox"]:checked ~ .checkMark:after {
    display: block;
}

.checkBox .checkMark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
  